:root {
    --color-white: #fff;
    --color-black: #000;
    --body-background: #0f1424;
    --column-background: #1c1f4a;
    --image-box-background: #5646e9;
      --color-desaturated-blue: #5646e9;
    --color-pale-blue: #bdc1ff;
    --transition-timing: 0.3s;
    --default-padding: 2rem;
    --default-radius: 0.8rem;
    --font-family-poppins: "Poppins";
    --font-family-raleway: "Raleway";
    --font-family-rubik:"Rubik", sans-serif;
    --font-size-12: 1.2rem;
    --font-size-14: 1.4rem;
    --font-size-16: 1.6rem;
    --font-size-18: 1.8rem;
    --font-size-20-1: 2.01rem;
    --font-size-21: 2.1rem;
    --font-size-21-5: 2.15rem;
    --font-size-22: 2.2rem;
    --font-size-24: 2.4rem;
    --font-size-26: 2.6rem;
    --font-size-28: 2.8rem;
  }